.shadow {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
body {
  background: rgba(255, 99, 71, 0.1);
}
.main {
  z-index: 0;
  position: relative;
  width: 100%;
}
.main a:hover {
  color: tomato;
}
.main div {
  width: 200px;
  height: 100px;
  display: inline-block;
}
.main .no-margin {
  margin: 0 0;
}
.main .chapter {
  border-style: none none dotted none;
  border-width: 2px;
  font-size: 20px;
  border-color: thistle;
}
.main .section {
  text-indent: 2em;
  font-size: 17px;
}
.main .section::before {
  content: '#';
  color: #5e3a5e;
}
.main .section::after {
  content: ':';
  color: #5e3a5e;
}
.main .section2 {
  text-indent: 4em;
}
.main .section2::before {
  content: '•';
  color: thistle;
}
.main .word {
  text-indent: 1em;
}
.main .background {
  position: relative;
  width: 300px;
  height: 150px;
  background: url(https://img2018.cnblogs.com/common/1877019/201912/1877019-20191213213606545-25399406.jpg) 0px 150px;
}
.main .transBorder {
  width: 200px;
  height: 100px;
  margin: 15px 40px;
  border: 10px solid rgba(255, 255, 255, 0.4);
  background: white;
  background-clip: padding-box;
}
.main .box-shadow-border {
  background: thistle;
  margin: 20px;
  box-shadow: 0 0 0 10px #b180b1, 0 0 0 15px #7e4d7e, 0 0 0 20px #3f263f;
}
.main .outLine-border {
  background: thistle;
  margin: 5px;
  border: 10px solid #5e3a5e;
  outline: 5px solid #000000;
}
.main .background-loc {
  background-color: thistle;
  background: url(https://www.easyicon.net/download/svg/1188649/453/) no-repeat, url(https://www.easyicon.net/download/svg/1188649/453/) no-repeat, url(https://www.easyicon.net/download/svg/1188649/453/) no-repeat;
  background-position: top 10px left 10px,
        bottom 10px right 10px,
        top 50% left 50%;
}
.main .innerRoundBorder {
  position: relative;
  border-radius: 5% / 10%;
  padding: 10px;
  margin: 10px;
  background-color: white;
  background-origin: content-box;
}
.main .innerRoundBorder::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -10px;
  background-color: thistle;
  background-origin: border-box;
  z-index: -1;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.main .stripe-0 {
  background: repeating-linear-gradient(0deg, thistle, thistle 10px, #b180b1 0, #b180b1 20px);
}
.main .stripe-30 {
  background: repeating-linear-gradient(30deg, thistle, thistle 10px, #b180b1 0, #b180b1 20px);
}
.main .stripe-90 {
  background: repeating-linear-gradient(90deg, thistle, thistle 10px, #c59fc5 0, #c59fc5 30px);
}
.main .lattice-example {
  background: thistle;
  background-image: repeating-linear-gradient(to bottom, white, white 1px, transparent 0, transparent 16px), repeating-linear-gradient(to right, white, white 1px, transparent 0, transparent 16px);
}
.main .dot {
  background-image: radial-gradient(thistle 30%, transparent 0), radial-gradient(thistle 30%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0 ,15px 15px;
}
.main .chess {
  background-image: url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"\
        width="100" height="100" viewBox="0 0 100 100" fill-opacity=".25">\
        <rect x="50" width="50" height="50"></rect>\
        <rect y="50" width="50" height="50"></rect>\
    </svg>');
  background-size: 50px 50px;
}
.main .back {
  height: 80px;
  width: 180px;
  background-image: repeating-linear-gradient(60deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6) 15px, transparent 0, transparent 30px), repeating-linear-gradient(-30deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6) 15px, transparent 0, transparent 30px);
  background-color: thistle;
  border: 10px solid transparent;
  background-size: cover;
  background-clip: content-box, border-box;
  background-origin: content-box, border-box;
}
.main .randomBack {
  background: thistle;
  background-image: linear-gradient(90deg, thistle 11px, transparent 0), linear-gradient(90deg, #9e609e 23px, transparent 0), linear-gradient(90deg, #5e3a5e 41px, transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
}
.main .imageBorder {
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box, url(https://img2018.cnblogs.com/common/1877019/201912/1877019-20191213213606545-25399406.jpg) border-box 0 0 / cover;
}
.main .imageBorder p {
  margin: 0 auto;
}
.main .letter-border {
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(135deg, red 0, red 0.70710678em, transparent 0, transparent 1.41421356em, #58a 0, #58a 2.12132034em, transparent 0, transparent 2.82842712em) border-box;
}
.main .ants {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 0.6em 0.6em;
  animation: ants 12s linear infinite;
}
@keyframes ants {
  to {
    background-position: 100%;
  }
}
.main .footer {
  border-top: 0.2em solid transparent;
  border-image: 100% 0 0 linear-gradient(90deg, thistle 4em, transparent 0);
  padding-top: 0.5em;
}
.main .ellipse {
  width: 200px;
  height: 100px;
  background-color: thistle;
  border-radius: 50% / 50%;
}
.main .half-ellipse {
  width: 50px;
  background-color: thistle;
  border-radius: 50% / 100% 100% 0 0;
}
.main .parallelogram {
  position: relative;
  color: white;
  padding: 50px 0 0 0;
  font-size: 25px;
}
.main .parallelogram::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: thistle;
  transform: skew(-45deg);
}
.main .rotateDiv {
  width: 115px;
  height: 150px;
  background-color: thistle;
  transform: rotate(45deg);
  overflow: hidden;
}
.main .rotateImg {
  transform: rotate(-45deg);
  max-width: 100%;
}
.main .rotateImg2 {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s clip-path;
}
.main .rotateImg2:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.main .next {
  position: relative;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100px;
  height: 50px;
  background: thistle;
  clip-path: polygon(0 0, 75px 0, 100px 25px, 75px 50px, 0 50px);
  background-size: 100px 50px;
  background-repeat: no-repeat;
}
.main .next p {
  font-size: inherit;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.main .tab {
  width: 6em;
  height: 3em;
  position: relative;
  padding: 0.3em 1em 0em;
  color: white;
}
.main .tab::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #ccc;
  transform: perspective(0.5em) rotateX(5deg);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: 0 0.15em white inset;
  transform-origin: bottom;
}
.main .tab p {
  font-size: inherit;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.main img {
  width: 100px;
  padding: 1% 1%;
  transition: 0.5s filter;
}
.main .image {
  width: 100%;
  height: auto;
  display: inline-block;
}
.main .image img {
  width: 100px;
  padding: 1% 1%;
  transition: 0.5s filter;
}
.main .image #img1 {
  filter: sepia(1);
}
.main .image #img1:hover {
  filter: none;
}
.main .image #img2 {
  filter: saturate(4);
}
.main .image #img2:hover {
  filter: none;
}
.main .image #img3 {
  filter: hue-rotate(180deg);
}
.main .image #img3:hover {
  filter: none;
}
.main .image #img4 {
  filter: sepia(1) saturate(4) hue-rotate(180deg);
}
.main .image #img4:hover {
  filter: none;
}
.main .splitLine {
  position: relative;
  height: 5em;
  display: block;
}
.main .splitLine::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: thistle;
  z-index: -1;
}
.main .pie {
  width: 100px;
  height: 100px;
  border-radius: 50px / 50px;
  background: grey;
  background-image: linear-gradient(to right, transparent 50%, thistle 0);
  overflow: hidden;
}
.main .pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 3s linear infinite, bg 12s steps(1, end) infinite;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@-moz-keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@-webkit-keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
@-moz-keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
@keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
.main .bottomShadow {
  background-color: thistle;
  box-shadow: 0 10px 5px -5px grey;
}
.main .bottomShadow2 {
  background-color: thistle;
  box-shadow: 10px 0px 5px -5px grey, -10px 0px 5px -5px grey;
}
.main .nextShadow {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
  height: auto;
}
.main .nextShadow .theNext {
  position: relative;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100px;
  height: 50px;
  background: thistle;
  clip-path: polygon(0 0, 75px 0, 100px 25px, 75px 50px, 0 50px);
  background-size: 100px 50px;
  background-repeat: no-repeat;
}
.main .nextShadow .theNext p {
  font-size: inherit;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.main .nextShadow .dottedBorder {
  border: 10px dotted thistle;
}
.main .img {
  width: 300px;
  height: 300px;
  background: url(https://img2018.cnblogs.com/common/1877019/201912/1877019-20191213211821888-1456665465.jpg) 0 / 300px 300px scroll;
  position: relative;
}
.main .img .text {
  position: absolute;
  left: 30px;
  top: 60px;
  width: 240px;
  height: auto;
  z-index: 1;
  border-radius: 30px / 30px;
  overflow: hidden;
}
.main .img .text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(5px);
  background: url(https://img2018.cnblogs.com/common/1877019/201912/1877019-20191213211821888-1456665465.jpg) left -30px top -60px / 300px 300px scroll;
}
.main .img p {
  padding: 10px 5px;
}
.main p {
  text-indent: 1em;
  hyphens: auto;
}
.main .angle {
  width: 150px;
  height: 150px;
  position: relative;
  background: thistle;
  background: linear-gradient(200deg, transparent 20px, thistle 0);
}
.main .angle::before {
  content: '';
  position: absolute;
  width: 21.28355545px;
  height: 58.476088px;
  right: 37.19253255px;
  top: 0;
  background: linear-gradient(to bottom left, transparent 50%, #bb8fbb 0);
  transform-origin: top left;
  transform: rotate(-50deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.4);
}
.main .angle2 {
  width: 150px;
  height: 150px;
  position: relative;
  background: thistle;
  background: linear-gradient(225deg, transparent 20px, thistle 0);
}
.main .angle2::before {
  content: '';
  position: absolute;
  width: 28.28427125px;
  height: 28.28427125px;
  right: 0px;
  top: 0;
  background: linear-gradient(to bottom left, transparent 50%, #bb8fbb 0);
  transform-origin: top left;
  transform: rotate(0deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.4);
}
.main .angle3 {
  width: 150px;
  height: 150px;
  position: relative;
  background: thistle;
  background: linear-gradient(240deg, transparent 10px, thistle 0);
}
.main .angle3::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 11.54700538px;
  right: -8.45299462px;
  top: 0;
  background: linear-gradient(to bottom left, transparent 50%, #bb8fbb 0);
  transform-origin: top left;
  transform: rotate(30deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.4);
}
.main .lineColor {
  width: 200px;
  height: auto;
  font-size: 20px;
  line-height: 1.5;
  background: white;
  background-image: linear-gradient(to bottom, #cccccc 50%, transparent 0);
  background-size: auto 3em;
}
.main .lineColor span {
  line-height: inherit;
  word-break: normal;
  word-wrap: break-word;
}
.main .underLine {
  text-decoration: underline red wavy;
}
.main .fontShadow {
  font-size: 30px;
  text-shadow: 0 1px 1px thistle;
}
.main .fontStroke {
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
.main .moveImg {
  width: 150px;
  height: 150px;
  background-image: url(https://img2018.cnblogs.com/common/1877019/201912/1877019-20191213211821888-1456665465.jpg);
  background-size: 200% 100%;
  animation: moveImg 5s linear infinite alternate ;
  animation-play-state: paused;
}
@keyframes moveImg {
  to {
    background-position: 100% 0;
  }
}
.main .moveImg:hover {
  animation-play-state: running;
}
.main footer {
  height: 100px;
  padding: 0em;
  padding: 0em calc(50% - 400px);
  background: thistle;
}
