.shadow {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
@font-face {
  font-family: 'Source Code Variable';
  src: url(fonts/SourceCodeVariable-Roman.ttf);
}
body {
  font-family: 'Source Code Variable', '微软雅黑', monospace;
  margin: 0;
  background: rgba(216, 191, 216, 0.2);
}
.main {
  position: relative;
  left: 20%;
  width: 60%;
}
a:hover {
  color: tomato;
}
div {
  width: 200px;
  height: 100px;
  display: inline-block;
}
.no-margin {
  margin: 0 0;
}
.chapter {
  border-style: none none dotted none;
  border-width: 2px;
  font-size: 20px;
  border-color: thistle;
}
.section {
  text-indent: 2em;
  font-size: 17px;
}
.section::before {
  content: '#';
  color: #5e3a5e;
}
.section::after {
  content: ':';
  color: #5e3a5e;
}
.section2 {
  text-indent: 4em;
}
.section2::before {
  content: '•';
  color: thistle;
}
.word {
  text-indent: 1em;
}
.background {
  position: relative;
  width: 300px;
  height: 150px;
  background: url(images/stars.jpg) 0px 150px;
}
.transBorder {
  width: 200px;
  height: 100px;
  margin: 15px 40px;
  border: 10px solid rgba(255, 255, 255, 0.4);
  background: white;
  background-clip: padding-box;
}
.box-shadow-border {
  background: thistle;
  margin: 20px;
  box-shadow: 0 0 0 10px #b180b1, 0 0 0 15px #7e4d7e, 0 0 0 20px #3f263f;
}
.outLine-border {
  background: thistle;
  margin: 5px;
  border: 10px solid #5e3a5e;
  outline: 5px solid #000000;
}
.background-loc {
  background-color: thistle;
  background: url(images/bilibili.svg) no-repeat, url(images/bilibili.svg) no-repeat, url(images/bilibili.svg) no-repeat;
  background-position: top 10px left 10px,
    bottom 10px right 10px,
    top 50% left 50%;
}
.innerRoundBorder {
  position: relative;
  border-radius: 5% / 10%;
  padding: 10px;
  margin: 10px;
  background-color: white;
  background-origin: content-box;
}
.innerRoundBorder::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -10px;
  background-color: thistle;
  background-origin: border-box;
  z-index: -1;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.stripe-0 {
  background: repeating-linear-gradient(0deg, thistle, thistle 10px, #b180b1 0, #b180b1 20px);
}
.stripe-30 {
  background: repeating-linear-gradient(30deg, thistle, thistle 10px, #b180b1 0, #b180b1 20px);
}
.stripe-90 {
  background: repeating-linear-gradient(90deg, thistle, thistle 10px, #c59fc5 0, #c59fc5 30px);
}
.lattice-example {
  background: thistle;
  background-image: repeating-linear-gradient(to bottom, white, white 1px, transparent 0, transparent 16px), repeating-linear-gradient(to right, white, white 1px, transparent 0, transparent 16px);
}
.dot {
  background-image: radial-gradient(thistle 30%, transparent 0), radial-gradient(thistle 30%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0 ,15px 15px;
}
.chess {
  background-image: url(images/patterns.svg);
  background-size: 50px 50px;
}
.back {
  height: 80px;
  width: 180px;
  background-image: repeating-linear-gradient(60deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6) 15px, transparent 0, transparent 30px), repeating-linear-gradient(-30deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6) 15px, transparent 0, transparent 30px);
  background-color: thistle;
  border: 10px solid transparent;
  background-size: cover;
  background-clip: content-box, border-box;
  background-origin: content-box, border-box;
}
.randomBack {
  background: thistle;
  background-image: linear-gradient(90deg, thistle 11px, transparent 0), linear-gradient(90deg, #9e609e 23px, transparent 0), linear-gradient(90deg, #5e3a5e 41px, transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
}
.imageBorder {
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box, url(images/stars.jpg) border-box 0 0 / cover;
}
.imageBorder p {
  margin: 0 auto;
}
.letter-border {
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(135deg, red 0, red 0.70710678em, transparent 0, transparent 1.41421356em, #58a 0, #58a 2.12132034em, transparent 0, transparent 2.82842712em) border-box;
}
.ants {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 0.6em 0.6em;
  animation: ants 12s linear infinite;
}
@keyframes ants {
  to {
    background-position: 100%;
  }
}
.footer {
  border-top: 0.2em solid transparent;
  border-image: 100% 0 0 linear-gradient(90deg, thistle 4em, transparent 0);
  padding-top: 0.5em;
}
.splitLine {
  position: relative;
  height: 5em;
  display: block;
}
.splitLine::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: skew(-60deg);
  background-color: thistle;
  z-index: -1;
}
.rotateDiv {
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  overflow: hidden;
}
.rotateImg {
  transform: rotate(-45deg);
  max-width: 100%;
}
.rotateImg2 {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s clip-path;
}
.rotateImg2:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.next {
  width: 150px;
  height: 50px;
  background: thistle;
  background: linear-gradient(225deg, transparent 17.68033946px, thistle 0) top, linear-gradient(-45deg, transparent 17.68033946px, thistle 0) bottom;
  background-size: 150px 25px;
  background-repeat: no-repeat;
}
.tab {
  width: 3em;
  height: 1.5em;
  position: relative;
  padding: 0.3em 1em 0em;
  color: white;
}
.tab::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #ccc;
  transform: perspective(0.5em) rotateX(5deg);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: 0 0.15em white inset;
  transform-origin: bottom;
}
.pie {
  width: 100px;
  height: 100px;
  border-radius: 50px / 50px;
  background: grey;
  background-image: linear-gradient(to right, transparent 50%, thistle 0);
  overflow: hidden;
}
.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 3s linear infinite, bg 12s steps(1, end) infinite;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@-moz-keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@-webkit-keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
@-moz-keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
@keyframes bg {
  25% {
    background: thistle;
  }
  50% {
    background: grey;
  }
}
.bottomShadow {
  box-shadow: 0 10px 5px -5px grey, 0 -10px 5px -5px grey;
}
.img {
  width: 300px;
  height: 300px;
  background: url(images/bg.jpg) 0 / 300px 300px scroll;
  position: relative;
}
.img .text {
  position: absolute;
  left: 60px;
  top: 60px;
  z-index: 1;
  border-radius: 30px / 30px;
  overflow: hidden;
  padding: 10px 10px;
}
.img .text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(5px);
  background: url(images/bg.jpg) left -60px top -60px / 300px 300px scroll;
}
p {
  text-indent: 1em;
  hyphens: auto;
}
.angle {
  position: relative;
  background: thistle;
  background: linear-gradient(200deg, transparent 20px, thistle 0);
}
.angle::before {
  content: '';
  position: absolute;
  width: 21.28355545px;
  height: 58.476088px;
  right: 37.19253255px;
  top: 0;
  background: linear-gradient(to bottom left, transparent 50%, #bb8fbb 0);
  transform-origin: top left;
  transform: rotate(-50deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.4);
}
.lineColor {
  width: 200px;
  font-size: 20px;
  line-height: 1.5;
  background: white;
  background-image: linear-gradient(to bottom, #cccccc 50%, transparent 0);
  background-size: auto 3em;
}
.underLine {
  text-decoration: underline thistle wavy;
}
.text1 {
  width: 50px;
  height: 50px;
  background: thistle;
  color: tomato;
  transition: 1s;
}
.text1:hover {
  filter: blur(0.1em);
}
footer {
  height: 100px;
  padding: 0em;
  padding: 0em calc(50% - 400px);
  background: thistle;
}
.zone {
  width: 300px;
  height: 550px;
  background-color: white;
}
.ball {
  border-radius: 50%;
  background-color: thistle;
  animation: bounce 3s cubic-bezier(0.1, 0.25, 1, 0.25) forwards;
}
@-webkit-keyframes bounce {
  60%,
  80%,
  to {
    transform: translateY(400px);
    animation-timing-function: ease;
  }
  70% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(360px);
  }
}
@-moz-keyframes bounce {
  60%,
  80%,
  to {
    transform: translateY(400px);
    animation-timing-function: ease;
  }
  70% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(360px);
  }
}
@keyframes bounce {
  60%,
  80%,
  to {
    transform: translateY(400px);
    animation-timing-function: ease;
  }
  70% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(360px);
  }
}
.moveImg {
  width: 150px;
  height: 150px;
  background-image: url(images/bg.jpg);
  background-size: 200% 100%;
  animation: moveImg 5s linear infinite alternate ;
  animation-play-state: paused;
}
@keyframes moveImg {
  to {
    background-position: 100% 0;
  }
}
.moveImg:hover {
  animation-play-state: running;
}
